<div widget-box class="widget-box">
    
  <div class="widget-header">
    <h5>Feedback Item</h5>
    <div class="widget-toolbar">
      <!-- <a data-action="collapse"><i class="icon-chevron-up"></i></a> -->
    </div>
  </div>

  <div class="widget-body">
    
    <div class="widget-body-inner" style="display: block;">
      
      <div class="widget-main">

				<%= f.input :feedbackAppearance do %>
				  <%= f.select :feedbackAppearance, [['On Start', 0],['On Success', 1], ['On Fail', 2]] %>
				<% end %>
				<%= f.input :actionLink do %>
				  <%= f.select :actionLink, [['No Action', 0],['QR Scan', 1], ['Take Picture', 2], ['Enter Text', 3]] %>
				<% end %>
				<%= f.input :contentHtmlShort, as: :ckeditor, :input_html => { :ckeditor => {:toolbar => "Basic"} } %>
				<%= f.input :contentHtmlFull, as: :ckeditor, :input_html => { :ckeditor => {:toolbar => "Basic"} } %>
				<%= f.link_to_remove "Remove this Feedback Item" %>
			</div>
		</div>
	</div>
</div>